extends ./layout.jade
block contenido
		.row.cloPadin
			.col-12.col-sm-12.col-md-6.col-lg-12.inline
				img.logo-xs(src='/img/riemon.jpg')
		div
			p 0 - Nivel de aguaMin : #{V0}
			p 1 - Claridad minima : #{V1}
			p 2 - Claridad maxima : #{V2}
			p 3 - Temperatura minima : #{V3}
			p 4 - Temperatura Maxima : #{V4}
			p 5 - Humedad de Planta 1 : #{V5}
			p 6 - Humedad de Planta 2 : #{V6}
			p 7 - Humedad de Planta 3 : #{V7}
